:root{
    --color-pink: #EB088C;
    --color-main: #257CE2;
    --color-yl: #FAC850;
}



/* reset css */
[class*=col-]{
    padding: 0px;
    margin: 0px;
}
.row{
    margin: 0px;
    padding: 0px;
}
.container{
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
/* end reset */

/* header */
.header{
    color: white;
    display: block;
}
/* title */

.title{
    background-color: var(--color-pink);
    justify-content: center;
    padding: 5px 0px;
    font-weight: 500;
}
/* end title */


/* main */
.main{
    background-color: var(--color-main);
    min-height: 80px;
    align-items: center;
    padding: 10px 0px;
}

.logo i{
    font-size: 45px;
    font-weight: 700;
}
.logo a{
    font-style: italic;
    font-weight: 700;
    color: white;
    font-size: 28px;
}
.logo a span{
    font-size: 13px;
}
.main .search{
    display: flex;
    align-items: center;
}
.main .search form{
    position: relative;
}

.main .search form input{
    border-radius: 20px;
    width: 100%;
    border: none;
    padding: 3px;
    text-indent: 10px;
}
.main .search form button{
    position: absolute;
    border: none;
    background: none;
    top:0;
    right: 0;

}

/* end main */
/* desc */
.main .desc .row ul .item {
    text-align: right;
}
.main .desc .row ul .item i{
    font-size: 20px;
}
.main .desc .row ul .item span{
    font-weight: 700;
}
.main .desc .row ul .item p{
    font-size: 13px;
}
.main .desc .row ul{
    justify-content: flex-end;
}
/* end desc */



/* end header */


/* menu */

.navbar-expand {
    justify-content: flex-end;
}
.menu{
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 999;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -8px;
}
.menu .container .row{
    align-items: center;
    
}
.menu .menu-1{
    height: 50px;
    background-color: #1D66BA;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
}

.menu .menu-1 .sub-menu1{
    background-color: #fff;
    visibility: hidden;
}
.menu .menu-1:hover .sub-menu1{
    visibility: visible;
}
.menu .menu-1 .sub-menu1 .nav-item{
    border: 1px solid rgba(34, 33, 33, 0.525);
    border-top: none;
}
.menu .menu-1 .sub-menu1 .nav-item .nav-link{
    color: black;
    font-weight: 400;
}
.menu .menu-1 .sub-menu1 .nav-item .nav-link:hover{
    border:  2px solid var(--color-main);
}

.menu-2 .nav-item{
    width: calc(100% / 7);
    text-align: center;
}

.menu-2 .nav-item .nav-link{
    padding: 0px;
    font-size: 18px;
}
.menu-2 li:nth-child(1){
    font-weight: 700;
}
.menu-2 li:last-child{
    text-align: right;
}

/* end menu */

/* section */
.section {
    margin-top: 30px;
    /* height: 500px; */
}

.section .sec-head{
    justify-content: space-between;
    border-bottom: 1px solid var(--color-main);
    margin-bottom: 20px;
}
.section .container .sec-head span{
    background-color: var(--color-main);
    color: white;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px 0px 0px 0px;

}
.section .container .sec-head span::after{
    content: "";
    position: relative;
    top: 0px;
    right: -40px; 
    width: 40px;
    height: 40px;
    display: inline-block;
    border-top: 40px solid transparent;
    border-left: 40px solid #257ce2;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
}

/* sec-main */
.section .sec-main{
    background-color: #95E7FC;
    padding: 15px 5px;
    border-radius: 20px;
}
.section .sec-main .item{
    /* flex: 1 1 calc(100% / 4 - 80px / 4); */
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid #95E7FC;
    /* margin: 10px 8px; */
    background-color:white;
    height: 320px;
    text-decoration: none;
    text-align: center;
    /* max-width: calc(100% / 4 - 80px / 4); */
}

.section .sec-main .item img{
    width: 100%;
    height: 50%;
    margin: 10px 0px;
    
}
.section .sec-main .item p{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
    height: 15%;

}
.section .sec-main .item span{
    color: var(--color-pink);
    font-weight: 700;
    font-size: 18px;
}
.section .sec-main .item span::after{
    content: "đ";
    color: var(--color-pink);
    text-decoration: underline;
    font-size: 13px;
    margin: 3px;
}

.btn-section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btn{
    text-decoration: none;
    padding: 5px 40px;
    background-color: var(--color-main);
    display: inline-block;
    font-weight: 700;
    color: white;
    font-size: 16px;

}
/*end sec-main */
/* end section 1*/


/* section2 */
.section2 .sec-main{
    background-color: #EAEAEA;
}

.section2 .sec-main .item{
    border-color: #EAEAEA;
}

/* end section2 */

.support{
    margin-top: 10px;
}
.support .container{
    padding-top: 10px;
}

.support .container .support-tiltle{
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    margin-bottom: 8px;
}
.support .container .support-tiltle span{
    display: inline-block;
    width: 250px;
    text-align: center;
}
.support .container .support-tiltle::after{
    content: "";
    width: calc(50% - 250px / 2);
    border-bottom: 1px solid rgba(36, 34, 34, 0.211);
    box-shadow: 0px 0px 10px 0px rgba(36, 34, 34, 0.211);
}
.support .container .support-tiltle::before{
    content: "";
    width: calc(50% - 250px / 2);
    border-bottom: 1px solid rgba(36, 34, 34, 0.211);
    box-shadow: 0px 0px 10px 0px rgba(36, 34, 34, 0.211);
}


.support .container .support-main .sp-item{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.support .container .support-main .sp-item .sp-tiltle{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
}


.support .container .support-main .sp-item .sp-content{
    padding-right: 10px;
}






.support .container .support-main .tu-van .sp-content ul{
    border-bottom: 1px dashed rgba(36, 34, 34, 0.211);
    box-shadow: 0px 0px 10px 0px rgba(36, 34, 34, 0.211);
    list-style-type: none; 
    padding: 15px;
}   
.support .container .support-main .tu-van .sp-content ul li{
    padding: 8px 0px;
}


/* support */

/*end support */


.footer{
    background-color: var(--color-pink);
    font-size: 16px;
    font-weight: 600;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

